.top-message-special,
.burger-menu,
.ajax-loading-block-window,
#bar-notification,
.main-menu,
.search-box,
.header-links-wrapper {
	display: none !important;
}

img  {
	display: block;
}

.text-center {
	text-align: center;
}

.wrapper {
	max-width: 1000px;
	width: auto;
}

.full-width-menu-bg {
	left: 0;
}

.logo-site {
  margin-left: 30px;
}

.master-wrapper-main {
	padding-top: 80px;
}

.theater-page .wrapper {
	position: relative;
}

.header {
	height: 81px;
	background: #FFF;
	border-bottom: 1px solid #EEE;
	position: fixed;
	width: 100%;
	z-index: 1;
	box-shadow: 0px 6px 31px #CFCFCF;
}

.header-buy-now-btn {
	padding: 14px 16px !important;
	border: none;
	color: #FFF !important;
	background: #C8133C !important;
	border-radius: 5px !important;
	font-size: 13px;
	float: right;
	width: 110px;
	text-align: center;
	margin-top: 19px;
	display: none;
}

.header-buy-now-btn:hover {
	background: #DF1643 !important;
}

.t-block {
	padding: 70px;
	padding-left: 0;
	padding-right: 0;
}

.t-block h2 {
	font-family: "ronnia-condensed";
	font-weight: bold;
	font-size: 35px;
	color: #000;
	line-height: 42px;
	margin-bottom: 5px;
}

.t-block p {
	font-family: "proxima-nova";
	font-size: 19px;
	line-height: 23px;
	margin: 0;

}

.theater__productblock1 {
	background-color: #e6e7e8;
	margin-top: -4px;
}

.theater__productblock1 .block__wrapper {
	width: 70%;
	padding-right: 15px;
	float: left;
}

.theater__productblock1 .block__wrapper h2 {
	width: 85%;
}

.theater__productblock1 img {
	margin-top: -20px;
}

.theater__productblock2 {
	padding-top: 0;
	padding-bottom: 0;
}

.theater__productblock2 img {
	margin-left: -33px; 
	display: inline-block;
}

.theater__productblock2 a {
	font-family: "ronnia-condensed";
	font-size: 19px;
	text-decoration: underline;
	color: #414eaf;
}

.theater__productblock2 .block__wrapper {
	float: right;
	margin-left: 40px;
}

.theater__productblock2 h2 {
	margin-top: 168px;
}

.theater__productblock3-bg {
	background: #e6e7e8 url('images/t-block3.jpg') 50% no-repeat;
	margin-top: -4px;
}

.theater__productblock3 h2 {
	color: #ab0000;
}

.theater__productblock3 p {
	width: 40%;
}

.theater__fans h2,
.theater__videos h2,
.theater_productcarousel h2 {
	text-align: center;
}

.owl-carousel {
	list-style: none;
	text-align: center;	
	margin-top: 55px;
}

.owl-buttons {
	position: relative;
}

.owl-theme .owl-controls .owl-buttons div {
	position: absolute;
	top: -320px;
	left: -70px;
	background: url(images/leftarrow.png) no-repeat 0 0;
	text-indent: -100px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 126px;
	width: 50px;
	border: none;
}

.owl-theme .owl-controls .owl-buttons div.owl-next {
	left: auto;
	right: -70px;
	background: url(images/rightarrow.png) no-repeat 0 0;
}

.owl-theme .owl-controls .owl-buttons div.disabled:hover,
.owl-theme .owl-controls .owl-buttons div.disabled {
	opacity: 0.3;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
	background-color: #AB0000;
}

.owl-item h3 {
	padding-top: 30px;
	font-size: 26px;
	color: #000;
	font-weight: 600;
	font-family: "proxima-nova";
}

.owl-item img {
	display: inline-block;
}

.owl-item div {
	color: #757575;
	font-size: 17px;
	font-family: "proxima-nova";
	font-weight: 100;
}

.theater__share h2 {
	margin-bottom: 40px;
}

.theater__share,
.theater_productcarousel {
	padding-bottom: 0;
}

.theater__share ul {
	list-style: none;
	text-align: center;
}

.theater__share li {
	display: inline-block;
	margin: 0 20px;
}

.theater__share li a {
	text-indent: -200px;
	overflow: hidden;
	display: inline-block;
	background: url('images/share-sprite.png') 0 0 no-repeat;
	height: 100px;
	width: 100px;
}

.theater__share li.twitter a {
	background-position: -124px 0;
}

.theater__share li.gplus a {
	background-position: -246px 0;
}

.theater__videos {
	padding-left: 0;
	padding-right: 0;
	padding-bottom: 0;
}

.theater__videos .wrapper-bg {
	background-color: #E6E7E8;
	margin-top: 40px;
}

.theater__videos ul {
	list-style: none;
	text-align: center;
	background: white;
	margin-left: 5px;
	margin-right: 5px;
}

.theater__videos ul li {
	display: inline-block;
}

.theater__fans li a,
.theater__videos ul li a {
	position: relative;
	display: block;
	margin: 0 5px;
	overflow: hidden;
	margin-bottom: -3px;
}

.theater__videos ul li img {
	width: 312px;
}

.theater__videos a .icon-play {
	position: absolute;
	left: 114px;
	top: 88px;
	background-size: 100px;
	opacity: 0.8;
	transition: 500ms bottom;
}

.theater__videos ul li a:hover .icon-play {
	opacity: 1;
	transition: 500ms bottom;
}

.theater__fans li h3,
.theater__videos h3 {
	display: block;
	position: absolute;
	bottom: 0;
	width: 100%;
	background:rgb(0,0,0);
    background: transparent\9;
    background:rgba(0,0,0,0.5);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#4c000000,endColorstr=#4c000000);
    zoom: 1;
    font-family: "ronnia-condensed";
    font-weight: 500;
	padding: 15px;
	text-align: center;
	font-size: 21px;
	color: #FFF;
}

.theater__fans h2 {
	margin-bottom: 30px;
}

.theater__fans ul {
	list-style: none;
	text-align: center;
}

.theater__fans li {
	display: inline-block;
	margin: 10px;
}

.theater__fans li a {
	margin: 0;
}

.theater__fans li h3 {
}

.theater__fans li h3 span {
	font-family: "ronnia-condensed";
	font-size: 18px;
	font-weight: 300;
	display: block;

}

.theater_footer {
	background-color: #232323;
	padding: 20px;
	text-align: center;
	border-bottom: 35px solid #C8133C;
}

.theater_footer .lr-logo-small {
	background: url('images/logo-small.jpg') 0 0 no-repeat;
	height: 29px;
	width: 200px;
	display: inline-block;
	background-size: 200px;
}

/* overlay at start */
.mfp-fade.mfp-bg {
  opacity: 0;

  -webkit-transition: all 0.800s ease-out;
  -moz-transition: all 0.800s ease-out;
  transition: all 0.800s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;

  -webkit-transition: all 0.800s ease-out;
  -moz-transition: all 0.800s ease-out;
  transition: all 0.800s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-title {
	font-size: 16px;
	padding-top: 5px;
}


/* Progress Tracker */
.progress-tracker {
  position: fixed;
  top: 50%;
  right: 80px;
}
.progress-tracker.hide {
  width: 0px;
}
.progress-tracker.hide ul li .pt-description,
.progress-tracker.hide.active ul li .pt-description,
.progress-tracker.hide.constant ul li.active .pt-description {
  display: none;
}
.progress-tracker ul li {
  width: 15px;
  height: 15px;
  position: relative;
  background-color: #fff;
  border: 1px solid #D5D4D4;
  margin-bottom: 10px;
  list-style-type: none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}
.progress-tracker ul li a {
  width: 100%;
  height: 100%;
  display: block;
}
.progress-tracker ul li .pt-description {
  display: none;
  width: 235px;
  position: absolute;
  top: -2px;
  right: 18px;
}
.progress-tracker ul li.active .pt-description {
	top: -9px;
}
.progress-tracker ul li .pt-description span {
  float: right;
  text-align: right;
  background-color: #e9ebea;
  padding: 3px 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.progress-tracker ul li.active {
background-color: #C8133C;
border: 11px solid #C8133C;
margin-left: -3px;
}
.progress-tracker.constant ul li.active .pt-description,
.progress-tracker.constant ul li:hover .pt-description {
  display: block;
}


@media screen and (max-width: 768px) {
	.progress-tracker {
		display: none;
	}
	.header-logo {
        float: left;
    }
    .header-buy-now-btn {
    	margin-right: 13px;
    }
    .header-logo a.logo-site {
    	float: left;
    	margin-left: 9px;
    }
    .header-logo {
    	float: none;
    }
    .t-block {
    	padding: 10px;
    }
    .theater__productblock1 .block__wrapper {
    	float: none;
    	width: 100%;
    }
    .theater__productblock1 .block__wrapper h2 {
		width: 100%;
		font-size: 24px;
		line-height: 33px;
		margin-top: 20px;
    }
    .theater__productblock1 img {
		width: 40%;
		height: auto;
		margin: auto;
		margin-top: 18px;
		margin-bottom: 18px;
    }
    .theater__productblock2 {
    	text-align: center;
    	padding-bottom: 0;
    }
    .theater__productblock2 .block__wrapper {
    	float: none;
    	margin-left: 0;
    	text-align: center;
    	margin-top: 10px;
    }
    .theater__productblock2 h2 {
    	margin-top: 0
    }
    .theater__productblock2 img {
    	margin: auto;
    	margin-top: 20px;
    	float: none;
    	width: 100%;
    }
    .theater__productblock3-bg {
    	background: url('images/t-block3-repeat.jpg') 0 0 repeat;
    	background-size: contain;
    }
    .theater__productblock3 {
    	background: none;
    }
    .theater__productblock3 h2 {
    	text-align: center;
    	margin-top: 10px;
    	margin-bottom: 10px;
    }
    .theater__productblock3 p {
    	width: auto;
    	margin-bottom: 10px;
    	margin-top: 10px;
    }
    .theater__fans li,
    .theater__videos ul li {
    	display: block;
    }
    .theater__fans li img,
    .theater__videos ul li img {
    	margin: auto;
    	width: 100%;
    }
    .icon-play {
		height: 100px;
		width: 100px;
		display: inline-block;
		margin-left: -50px;
		margin-top: -50px;
    }
    .theater__videos li {
    	margin-bottom: 15px;
    }
    .theater__videos a .icon-play {
    	left: 50%;
    	top: 50%;
    }
    .theater__videos .wrapper-bg {
    	background: none;
    }
    .theater__share,
    .theater__fans h2, .theater__videos h2, .theater_productcarousel h2 {
    	margin-top: 40px;
    }
    .theater__videos h3 {
    	bottom: 0 !important;
    	
    	padding-left: 0;
    	padding-right: 0;
    }
    .theater__fans h2 {
    	margin-top: 40px;
    }
    .theater__fans li {
    	margin: 0;
    	position: relative;
    	margin-bottom: 15px;
    }
    .owl-theme .owl-controls .owl-buttons {
    	display: none;
    }
}



























