<html>
    <body onload="document.f1.submit();">
        <table class="formTable">
            <tr>
		        <td><div class="subheader">3D-Secure Authentication with your Bank</div></td>
            </tr>
            <tr>
            <td>
		        <table border="0" width="100%">
			        <tr>
				        <td width="80%">To increase the security of Internet transactions Visa and Mastercard have introduced 3D-Secure (like an online version of Chip and PIN). <br />
					        <br />
				        You have chosen to use a card that is part of the 3D-Secure scheme, so you will need to authenticate yourself with your bank in the section below.</td>
				        <td width="20%" align="center"><img src="images/vbv_logo_small.gif" alt="Verified by Visa" /><br /><br /><img src="images/mcsc_logo.gif" alt="MasterCard SecureCode" /></td>
			        </tr>
		        </table>
                <div class="greyHzShadeBar">&nbsp;</div>	
	        </td>
            </tr>
	        <tr>
            <td valign="top">
                <FORM name="f1" action="@Session["ACSURL"]" method="POST" />
                <input type="hidden" name="PaReq" value="@Session["PaReq"]"/>
                <input type="hidden" name="TermUrl" value="@Session["TermUrl"]"/>
                <input type="hidden" name="MD" value="@Session["MD"]"/>
                <NOSCRIPT>
                <center><p>Please click button below to Authenticate your card</p><input type="submit" value="Go"/></p></center>
                </NOSCRIPT>
                <input type="submit" value="Go" />
                </form>
	        </td>
	        </tr>
        </table>
    </body>
</html>