/*General Elements » start*/
html {
	background: #000;
}

body {
	background-color: #FFF;
	color: #959595;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif, serif;
	font-size: 14px;
	line-height: normal;
	font-weight: normal;
	text-align: left;
}

h1 {
	background: transparent url("images/logo-h1.png") 0 0 no-repeat;
	font-size: 1.71em;
	font-weight: bold;
	text-indent: -99999px;
	width: 255px;
	height: 51px;
	margin-top: 5px;
}

h2 {
	font-size: 1.26em;
	font-weight: bold;
}

h3 {
	font-size: 1.21em;
	margin-bottom: 5px;
	font-weight: normal;
}

h3.big {
	font-size: 1.71em;
}

a {
	display: inline-block;
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #919191;
	text-decoration: underline;
}

a:visited {
	color: #808080;
	text-decoration: none;
}

a:visited:hover {
	color: #919191;
	text-decoration: none;
}

input, textarea {
	border: 1px inset;
}
button {
	cursor: pointer;
}
/*General Elements » end*/

/*Page Templating » start*/
#main {
	background: #FFF;
	/*max-width:940px;
	 min-width:300px;
	 width:auto;*/
	margin: 0 auto;
	position: relative;
}

.wrapper {
	width: 960px;
	padding: 0 10px;
	margin-bottom: 20px;
}



.wrapper .col.mini {
	width: 150px;
}

.wrapper .col.small {
	width: 230px;
}

.wrapper .col.medium {
	width: 300px;
}

.wrapper .col.big {
	width: 450px;
}

.wrapper .col > .col {
	padding: 0;
}

.wrapper .col.left {
	margin-right: 20px;
}
.wrapper .col.right {
	margin-left: 20px;
}

.wrapper .col > .col > .box {
	margin-bottom: 0;
}

.wrapper .col .box {
	margin-bottom: 10px;
}
/*Page Templating » end*/

/*GLOBAL >> start*/
header {
	position: fixed;
	z-index:10;
	top: 0;
	left: 0;
	height: 130px;
	width: 100%;
	background-color:#FFFFFF;
}
main {
	display: inline-block;
	width: 100%;
	padding-top: 150px;
}

header .topbar {
	background-color: #EEE;
	color: #585858;
	width: 100%;
	display: inline-block;
}

header a, header a:hover, header a:visited, header a:hover:visited {
	color: #585858;
	font-size: 0.79em;
}

header .wrapper, footer .wrapper {
	margin-bottom: 0;
	padding: 10px;
}

footer{
	background-color: #222;
	color: #FFF;
}

footer a, footer a:hover, footer a:visited, footer a:hover:visited {
	color: #FFF;
	font-size: 0.86em;
}

.distribute {
	display: table;
}
.distribute > * {
	display: table-cell;
	text-align: center;
}
/*GLOBAL >> end*/

/*HEADER* >>start*/
form.search button {
	display: inline-block;
	background: transparent url("images/search.png") 0 0 no-repeat;
	margin-left: 5px;
	text-indent: -9999px;
	width: 19px;
	height: 18px;
}
form.search input {
	width: 50px;
	padding: 2px;
	box-sizing: border-box;
	height: 18px;
	font-size: 0.86em;
	line-height: normal;
}
form.search input.max {
	width: 150px;
}
form.search:hover input, form.search input:focus {
	-webkit-animation: searcInputMax 1.3s;
	-webkit-animation-fill-mode: both;
	animation: searcInputMax 1.3s;
	animation-fill-mode: both;
}
@-webkit-keyframes searcInputMax {
to {
	width: 150px;
}}
@keyframes
searcInputMax {to {
	width: 150px;
}}

ul.profile-links {
	list-style: none;
	background:#FFF;
	border-radius:3px;
}

.profile-links li {
	list-style-type:none;
	float: left;
    text-transform:uppercase;
	background:#DDD;
	margin-right:1px; 
	padding:5px 15px;
}

.profile-links li:first-child{
	border-bottom-left-radius: 3px;
	border-top-left-radius: 3px;
}

.profile-links li:last-child{
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	margin-right:0;
}

.country-flag {
	position: relative;
	width: 150px;
	height: 19px;
}
.country-flag ul {
	position: absolute;
	z-index:10;
	right: 0;
	list-style: none;	
}
.country-flag ul > li {
	list-style-type: none;
	text-align: right;
	background-color: #EEE;
	display: none;
	padding: 5px 10px 5px 5px;
	border-top:1px solid #fff;
}
.country-flag ul > li:last-child{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}
.country-flag:hover ul > li {
	display: block;
}
.country-flag ul > li.selected {
	display: block;
	border-top:none;
}

.country-flag a{
	display:block;
}

.country-flag img{
	margin-left:5px;
	vertical-align: middle;
}

nav {
	padding-top: 30px;
	text-align: center;
}
nav ul{
	list-style: none;
}
nav ul li{
	list-style-type: none;
	display:inline-block;
	position:relative;
	background-color:#FFFFFF;
}
nav li a {
	color: #000000 !important;
	border-right:1px solid #959595;
	padding: 0 20px;
	margin: 5px 0;
	line-height:20px;
	text-decoration: none !important;
}
nav li:last-child a{
	border-right:none;
}
nav li:hover{
	background-color:#B72025;
	
}
nav li:hover a {
	color:#FFFFFF !important;
	border-right-color:#B72025;
	text-decoration: none !important;
}
nav li:hover ul a, nav li ul a {
	color:#424242 !important;
	border-right:none;
}
nav li ul{
	position:absolute;
	left:0;
	top:30px;
	max-height: 0;
	border:1px solid #959595;
	overflow: hidden;
	-webkit-transition: max-height 0.8s;
	-moz-transition: max-height 0.8s;
	transition: max-height 0.8s;
}
nav li:hover > ul, nav li ul:hover{
	max-height: 200px;
}
nav li ul li:hover {
	background-color:#F5F5F5;
}
nav li ul li:hover a{
	color:#B72025 !important;
}

.basket {
	display: inline-block;
	background: transparent url("images/basket.png") 0 0 no-repeat;
	width: 69px;
	height: 69px;
	color: #b72025 !important;
	text-decoration: none !important;
	font-weight: bold;
	line-height: 46px;
	text-align: center;
}
/*HEADER >> end*/

/*MAIN >> start*/
.images-box > * {
	position:relative;
}
.images-box > * > p{
	position:absolute;
	color:#000000;
	font-size:1.28em;
	bottom:10px;
	width:100%;
	text-align: center;
}
.images-box > * > p > a{
	font-size:0.93em;
	display:block;
	cursor: pointer;
	text-decoration:none!important;
}
.images-box > * > p > a:after{
	content:">";
	background-color: #B72025;
	color:#FFFFFF;
	margin-left:3px;
	padding:2px;
	font-size:9px;
	line-height:9px;
}
.images-box > * > p.light{
	color:#FFF;
}
.images-box > * > p.light > a{
	color:#FFF;
}
/*MAIN >> end*/

/*FOOTER >> start*/
.newsletter-subscribe button {
	display: inline-block;
	margin-left: 5px;
	box-sizing: border-box;
	padding: 5px 15px;
	height: 32px;
	width:100px;
	text-transform: capitalize;
    font-size: 12px;
    line-height: 22px;
    background-color:#424242;
    color:#FFFFFF;
}

.newsletter-subscribe input {
	width: 170px;
	padding: 5px 9px;
	vertical-align:top;
	box-sizing: border-box;
	height: 32px;
	font-size: 12px;
	line-height: 20px;
	background-color: #000;
	color:#808080;
}

ul.footer-extras {
	width: 100%;
	border-bottom: 1px solid #424242;
	padding: 20px;
}

ul.footer-extras li{
	text-align:left;
	height:40px;
	vertical-align: middle;
}

ul.footer-extras li.boy{
	position:relative;
	width: 93px;
}

ul.footer-extras li.boy span{
	position:absolute;
	left:-27px;
	bottom:-20px;
	display: inline-block;
	background: url("images/boy.png") 0 0 no-repeat;
	width: 100%;
	height: 168px;
	text-indent: -9999px;
}

ul.footer-extras li.marker{
	background: url("images/marker.png") 0 0 no-repeat;
	width: 28px;
	padding-left:43px;
}

ul.footer-extras li.card{
	background: url("images/card.png") 0 0 no-repeat;
	width: 60px;
	padding-left:75px;
}

ul.footer-extras li.at{
	background: url("images/at.png") 0 0 no-repeat;
	width: 38px;
	padding-left:53px;
}

ul.footer-links{
	text-align:left;
}

ul.footer-links h3{
	text-transform: uppercase;
	color:#f1052b;
}

ul.footer-links.social li:not(:first-child){
	display: inline-block;
	margin-right:5px;
}

ul.footer-links.social a{
	float:left;
	display:inline-block;
	width:38px;
	height:38px;
	text-indent: -9999px;
}

ul.footer-links.social a.facebook{
	background: url("images/facebook.png") 0 0 no-repeat;
}

ul.footer-links.social a.instagram{
	background: url("images/instagram.png") 0 0 no-repeat;
}

ul.footer-links.social a.pinterest{
	background: url("images/pinterest.png") 0 0 no-repeat;
}

ul.footer-links.social a.twitter{
	background: url("images/twitter.png") 0 0 no-repeat;
}

ul.footer-links.social a.youtube{
	background: url("images/youtube.png") 0 0 no-repeat;
}

.footer-bottom{
	background: #c8133c;
	width:100%;
	padding:30px 0;
}
/*FOOTER >> end*/