<div class="mobile-menu-overlay"></div>
<div class="mobile-menu">
	
	<div class="mobile-menu-header">
		<a href="#" class="mobile-menu-close" title="Close menu"></a>
	</div>

	<div class="mobile-menu-body">
		<div class="side-2">
			
			<div class="block mobile-main-menu">
			    <div class="listbox">
			        <ul class="list has-sub-menus">
			            <li class="inactive">
			            	<a href="#">Shop</a> <!-- this link will not take user any where but will show a sub menu so keep this as # -->
			            	<!-- <ul class="list">
					            <li class="inactive"><a href="#">Sub menu 1</a></li>
					            <li class="inactive"><a href="#">Sub menu 2</a></li>
					            <li class="inactive"><a href="#">Sub menu 3</a></li>
					        </ul> -->
			            </li>
			            <li class="inactive">
			            	<a href="#">Our World</a>
			            	<!-- <ul class="list">
					            <li class="inactive"><a href="#">Sub menu 4</a></li>
					            <li class="inactive"><a href="#">Sub menu 5</a></li>
					            <li class="inactive"><a href="#">Sub menu 6</a></li>
					        </ul> -->
			            </li>
			            <li class="inactive"><a href="#">Nurture Club</a></li>
			        </ul>
			    </div>
			</div>

			<div class="block block-other-links">
			    <div class="title">
			        <strong>Connect</strong>
			    </div>
			    <div class="listbox">
			        <ul class="list">
			            <li class="inactive"><a href="#">Our Touch</a></li>
			            <li class="inactive"><a href="#">Updates</a></li>
			            <li class="inactive"><a href="#">Contact Us</a></li>
			        </ul>
			    </div>
			</div>

			<a href="#" class="button-1 mobile-menu-signup">NEWSLETTER SIGN UP</a>

			<div class="mobile-menu-social">
				<!-- links will be copied from the footer which is connected to db so no worries about this section -->
				<ul></ul>
				<script type="text/javascript">
					//copy links from footer links
					var $_footer_links = $('.footer .follow-us');
					var $_mobile_social_list = $('.mobile-menu-social ul');
					if($_footer_links.length != 0) {
						$_mobile_social_list.add('.thank-you-share-list ul').append(
							$_footer_links.find('.facebook').clone(),
							$_footer_links.find('.youtube').clone(),
							$_footer_links.find('.twitter').clone()
						)
					}
				</script>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	//sign up
	$(function(){
		$_newsLetter_input   = $('#newsletter-email');
		$_mobile_menu_signup = $('.mobile-menu-signup, .footer-link3');
		if($_newsLetter_input.length == 0) return $_mobile_menu_signup.hide();
		$_mobile_menu_signup.click(function(e){
			e.preventDefault();
			//close the popup and focus the input at the footer
			$('.mobile-menu-close').click();
			$('html, body').animate({
			    scrollTop: $_newsLetter_input.offset().top - 200
			}, 1000, function(){
				$_newsLetter_input.focus();
			});
		});
	});

	//opening and closing of mobile menu
	var $_mobile_opener = $('.header-logo a.burger-menu'),
		$_mobile_closer = $('.mobile-menu-close'),
		$_mobile_overlay = $('.mobile-menu-overlay'),
		$_mobile_menu = $('.mobile-menu');

	$_mobile_opener.click(function(e) {
		e.preventDefault();
		$_mobile_overlay.show();
		$_mobile_menu.addClass('mobile-menu-opened');
	});

	$('body').delegate( '.mobile-menu-close, .char-video-popup a', "click", function(e){
		e.preventDefault();
		$_mobile_overlay.add('.char-video-popup').fadeOut('fast', function(){ $(this).empty(); });
		$_mobile_menu.removeClass('mobile-menu-opened');
	});

	//sub menu
	var $_mobile_sub_menu = $('.has-sub-menus');
	$_mobile_sub_menu.find('> li > a').click(function(e) {
		var $this = $(this);
		var $itsLi = $this.closest('li');
		if($itsLi.hasClass('sub-menu-active')) {
			e.preventDefault();
			return false;
		};
		var $sub = $this.closest('li').find('.list');
		if($sub.length !=0 ) {
			e.preventDefault();
			$this.closest('li').add($_mobile_sub_menu).addClass('sub-menu-active');
			//add close btn
			$this.after(
				$('<span class="close-sub-menu closeBtn" title="Back to main menu">&times;</span>')
					.click(function(e){
						e.stopPropagation();
						$('.sub-menu-active').removeClass('sub-menu-active');
						$(this).remove();
					})
			)
		}
	});

	//close menu when esc is pressed
	$(document).keydown(function(e) {
		if (e.keyCode == 27) $_mobile_closer.click();
	});

</script>







