<appSettings>
  <add key="Twitter-ScreenName" value="learningroots" />
  <add key="Twitter-MaximumTweets" value="6" />
  <add key="Twitter-Cache-Duration" value="10" />
  <add key="Twitter-Consumer-Key" value="AwRvaKxe7odxughU163SSIlso" />
  <add key="Twitter-Consumer-Secret" value="YSEWOlNZWCXp0g4XcWYKDyz0FkvmckPmBUiCOZkrvOUHQjK8sC" />
  <add key="Twitter-Access-Token" value="171858042-g8jROMzJhFPRaf3iAUJVw4HmBqItE4Su8CmVLJE7" />
  <add key="Twitter-Access-Token-Secret" value="u5V32IUlBQp0HYKw41GKa0mH56GX84yavHaWLT3ox3SvL" />
</appSettings>
