<appSettings>
  <add key="Twitter.ScreenName" value="learningroots" />
  <add key="Twitter.MaximumTweets" value="6" />
  <add key="Twitter.CacheDuration" value="10" />
  <add key="Twitter.ConsumerKey" value="AwRvaKxe7odxughU163SSIlso" />
  <add key="Twitter.ConsumerSecret" value="YSEWOlNZWCXp0g4XcWYKDyz0FkvmckPmBUiCOZkrvOUHQjK8sC" />
  <add key="Twitter.AccessToken" value="171858042-g8jROMzJhFPRaf3iAUJVw4HmBqItE4Su8CmVLJE7" />
  <add key="Twitter.AccessTokenSecret" value="u5V32IUlBQp0HYKw41GKa0mH56GX84yavHaWLT3ox3SvL" />
  <add key="Instagram.ClientId" value="577d9c519b364ee8901810d6e6dc5028" />
  <add key="Instagram.ClientSecret" value="855757dae715455ba964c502d89d3e4c" />
  <add key="Instagram.CallbackUrl" value="http://local.nop.com/Home/InstagramCallback" />
  <add key="Instagram.UserId" value="1651623702" />
  <add key="Instagram.MediaCount" value="3" />
  <add key="Instagram.CacheDuration" value="10" />
</appSettings>
