@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";
	Html.AppendCssFileParts("~/Themes/DefaultClean/Content/theater.css");
}
<div class="page theater-page">
    <a class="button-1 header-buy-now-btn" href="#">BUY NOW</a>
</div>