<div class="home-discover home-page-block">
	<h3 class="home-block-title">Explore</h3>
    <div class="slider">
		<a class="buttons prev" href="#">&lt;</a>
		<div class="viewport">
		    <ul class="overview">
		        <li>
                    <a href="/quran-fun">
                        <div class="image-wrapper">
                            <img src="http://dummyimage.com/180x180/BC0A2F/ffffff.jpg&text=180+x+180" />
                        </div>
                        <h3>Quran Fun</h3>
                        <span>EXPLORE</span>
                    </a>
		        </li>
		        <li>
                    <a href="/duaa-prayer">
                        <div class="image-wrapper">
                            <img src="http://dummyimage.com/180x180/BC0A2F/ffffff.jpg&text=180+x+180" />
                        </div>
                        <h3>Prayer & Dua</h3>
                        <span>EXPLORE</span>
                    </a>
		        </li>
		        <li>
		            <a href="/stories">
		                <div class="image-wrapper">
		                    <img src="http://dummyimage.com/180x180/BC0A2F/ffffff.jpg&text=180+x+180" />
		                </div>
		                <h3>Stories</h3>
		                <span>EXPLORE</span>
		            </a>
		        </li>
		        <li>
		            <a href="/games">
		                <div class="image-wrapper">
		                    <img src="http://dummyimage.com/180x180/BC0A2F/ffffff.jpg&text=180+x+180" />
		                </div>
		                <h3>Games</h3>
		                <span>EXPLORE</span>
		            </a>
		        </li>
		        <li>
		            <a href="/gifts">
		                <div class="image-wrapper">
		                    <img src="http://dummyimage.com/180x180/BC0A2F/ffffff.jpg&text=180+x+180" />
		                </div>
		                <h3>Gifts</h3>
		                <span>EXPLORE</span>
		            </a>
		        </li>
                <li>
                    <a href="/collections">
                        <div class="image-wrapper">
                            <img src="http://dummyimage.com/180x180/BC0A2F/ffffff.jpg&text=180+x+180" />
                        </div>
                        <h3>Collections</h3>
                        <span>EXPLORE</span>
                    </a>
                </li>
		    </ul>
		</div>
		<a class="buttons next" href="#">&gt;</a>
	</div>
</div>
<script type="text/javascript">
	$('.slider').tinycarousel({infinite: false})
</script>