<span class="join-the-club-boy"></span>
<p>
    The Learning Roots Nurture Club is a special place designed for parents, teachers and educators to learn, share and inspire each other on the best practice for nurturing outstanding Muslim children. We can’t wait to open the doors, so please register on our website to stay tuned for the launch!
</p>
<a href="#" class="button-1">Join the Club</a>