@using System.Configuration
@using Nop.Core.Social

<!-- 
IMPORTANT NOTE: make sure to replace all chars from tweets which are used in template language
like at sign with twitter username below. Once read, please remove this message -->

<span class="social-block-twitter-icon"></span>

<!-- Make AJAX call to http://<your site URL>/Home/TwitterFeeds to return latest 6 LR tweets in JSON format.
All API settings are in web.config in <appSettings> section starting with the keys "Twitter_xxx"
Once read, please remove this message -->

<!-- 6 blocks of .social-block will go here  -->
<div class="social-block">

    <div class="social-block-header">
        <img class="social-avatar" src="https://pbs.twimg.com/profile_images/2409491901/m6z79dckv0mascojhe94_normal.jpeg"/>
        <a href="https://twitter.com/learningroots">&#64;learningroots</a>
        <span class="posted-time">11/12/2014 11:23PM</span>
    </div>
    <div>
        Eid Mubarak to all.
    </div>
</div>

<div class="social-block">
	<div class="social-block-header">
		<img class="social-avatar" src="https://pbs.twimg.com/profile_images/2409491901/m6z79dckv0mascojhe94_normal.jpeg" />
		<a href="https://twitter.com/learningroots">&#64;learningroots</a>
		<span class="posted-time">11/12/2014 11:23PM</span>
	</div>
	<div>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
	</div>
</div>

<div class="social-block">
	<div class="social-block-header">
		<img class="social-avatar" src="https://pbs.twimg.com/profile_images/2409491901/m6z79dckv0mascojhe94_normal.jpeg" />
		<a href="https://twitter.com/learningroots">&#64;learningroots</a>
		<span class="posted-time">11/12/2014 11:23PM</span>
	</div>
	<div>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
	</div>
</div>

<div class="social-block">
	<div class="social-block-header">
		<img class="social-avatar" src="https://pbs.twimg.com/profile_images/2409491901/m6z79dckv0mascojhe94_normal.jpeg" />
		<a href="https://twitter.com/learningroots">&#64;learningroots</a>
		<span class="posted-time">11/12/2014 11:23PM</span>
	</div>
	<div>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
	</div>
</div>

<div class="social-block">
	<div class="social-block-header">
		<img class="social-avatar" src="https://pbs.twimg.com/profile_images/2409491901/m6z79dckv0mascojhe94_normal.jpeg" />
		<a href="https://twitter.com/learningroots">&#64;learningroots</a>
		<span class="posted-time">11/12/2014 11:23PM</span>
	</div>
	<div>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
	</div>
</div>

<div class="social-block">
	<div class="social-block-header">
		<img class="social-avatar" src="https://pbs.twimg.com/profile_images/2409491901/m6z79dckv0mascojhe94_normal.jpeg" />
		<a href="https://twitter.com/learningroots">&#64;learningroots</a>
		<span class="posted-time">11/12/2014 11:23PM</span>
	</div>
	<div>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
	</div>
</div>