<span class="social-block-instagram-icon"></span>

<div class="js-instagram-images"></div>

<script type="text/javascript">
$.getJSON('Home/InstagramFeed', function(res) {
	$(res.data).each(function(){
		var img = this.images.low_resolution;
		$('.js-instagram-images').append("<div class='social-block'><img width="+img.width+" height="+img.height+" src='"+img.url+"' /></div>");
	});
});
</script>