<span class="social-block-testimonials-icon"></span>

<!-- 6 blocks of .social-block will go here  -->
<div class="social-block">
	<div>
		<span class="double-quote">&#8220;</span>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
		<span class="double-quote double-quote-end">&#8221;</span>
	</div>
</div>

<div class="social-block">
	<img src="http://dummyimage.com/205x108/C8133C/ffffff"/>
</div>

<div class="social-block">
	<div>
		<span class="double-quote">&#8220;</span>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
		<span class="double-quote double-quote-end">&#8221;</span>
	</div>
</div>

<div class="social-block">
	<img src="http://dummyimage.com/205x108/C8133C/ffffff"/>
</div>

<div class="social-block">
	<div>
		<span class="double-quote">&#8220;</span>
		Here it is... Our surprise Eid present for you and your family. Eid Mubarak to all. <a href="http://ow.ly/CcwwO">http://ow.ly/CcwwO</a>. Remember to share :)
		<span class="double-quote double-quote-end">&#8221;</span>
	</div>
</div>

<div class="social-block">
	<img src="http://dummyimage.com/205x108/C8133C/ffffff"/>
</div>