<span class="social-block-instagram-icon"></span>

<!-- 3 blocks of .social-block will go here  -->
<div class="social-block"><img src="http://dummyimage.com/230x230/000000/ffffff"/></div>
<div class="social-block"><img src="http://dummyimage.com/230x230/000000/ffffff"/></div>
<div class="social-block"><img src="http://dummyimage.com/230x230/000000/ffffff"/></div>