@{
    //image folder path
    var imagesfolder = "~/Themes/DefaultClean/Content/images";
}

<span class="social-block-testimonials-icon"></span>

<!-- 6 blocks of .social-block will go here  -->
<div class="social-block">
	<div>
		<span class="double-quote">&#8220;</span>
		One of the best websites out there for kids stuff.  (Shaykh Muhammad AlShareef, Canada)
		<span class="double-quote double-quote-end">&#8221;</span>
	</div>
</div>

<div class="social-block">
	<div><img src="@Url.Content(imagesfolder)/testimonial1.jpg"/></div>
</div>

<div class="social-block">
	<div>
		<span class="double-quote">&#8220;</span>
		Masha-Allah all of the products are amazing. I almost have all of them by now. Mash-Allah you lot have done an amazing job in creating those books. (S Khan, UK)
		<span class="double-quote double-quote-end">&#8221;</span>
	</div>
</div>

<div class="social-block">
	<div><img src="@Url.Content(imagesfolder)/testimonial2.jpg"/></div>
</div>

<div class="social-block">
	<div>
		<span class="double-quote">&#8220;</span>
		Our order arrived today at the speed of lightning - having just ordered it barely 15hrs ago! We were delighted with the superb quality of your resources and it was definitely excellent value for the money we spent. (N. Yusuf, UK)
		<span class="double-quote double-quote-end">&#8221;</span>
	</div>
</div>

<div class="social-block">
	<div><img src="@Url.Content(imagesfolder)/testimonial3.jpg"/></div>
</div>