@{
    Layout = "~/Views/Shared/_ColumnsOne.cshtml";
}
@inherits Nop.Web.Framework.ViewEngines.Razor.WebViewPage

<h2>3D Secure Sendoff</h2>

<iframe src="/Plugins/Payments/ThreeDHandoff" width="750" height="600"></iframe>

<script type="text/javascript">
    function ThreeDSuccessful()
    {
         window.location.href = '/checkout/completed';
    }

    function ThreeDFailed()
    {
        window.location.href = '/Plugins/Payments/ThreeDFail';
    }
</script>